.idea/
.vscode/
.env
.env.local
backend/.env.local
backend/.env.local.php
backend/.env.*.local
frontend/.env.local
frontend/node_modules/
websocket/node_modules/
backend/public/uploads
backend/var/
backend/vendor/
backend/public/bundles/
backend/.phpunit.result.cache
backend/.php-cs-fixer.cache
backend/var/log/
backups/ssh orion@81.200.158.70 "docker restart orion_backend_prod"