.idea/
.vscode/
.env
.env.local
.DS_Store
**/ .DS_Store
backend/.env
backend/.env.local
backend/.env.local.php
backend/.env.*.local
frontend/.env.local
frontend/node_modules/
websocket/node_modules/
backend/public/uploads
backend/var/
backend/vendor/
backend/public/bundles/
backend/.phpunit.result.cache
backend/.php-cs-fixer.cache
backend/var/log/
backups/
nginx/logs
