name: orion_prod

services:
  # 1. База данных
  orion_db:
    image: postgres:13-alpine
    container_name: orion_db_prod
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - orion_db_data:/var/lib/postgresql/data
    networks:
      - app_network

  # 2. Redis
  orion_redis:
    image: redis:6-alpine
    container_name: orion_redis_prod
    restart: always
    networks:
      - app_network

  # 3. Бэкенд (Symfony)
  orion_backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: orion_backend_prod
    restart: always
    environment:
      APP_ENV: prod
      APP_DEBUG: '0'
      APP_SECRET: ${APP_SECRET}
      DATABASE_URL: "postgresql://${DB_USER}:${DB_PASSWORD}@orion_db_prod:5432/${DB_NAME}?serverVersion=13&charset=utf8"
      MESSENGER_TRANSPORT_DSN: "redis://orion_redis_prod:6379/0"
    depends_on:
      - orion_db
      - orion_redis
    networks:
      - app_network

  # 4. Вебсокеты (Node.js)
  orion_websocket:
    build:
      context: ./websocket
      dockerfile: Dockerfile
    container_name: orion_websocket_prod
    restart: always
    environment:
      REDIS_URL: "redis://orion_redis_prod:6379"
    depends_on:
      - orion_redis
    networks:
      - app_network

  # 5. Фронтенд (React Build)
  orion_frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - REACT_APP_API_URL=https://api.orioncode.ru
        - REACT_APP_WS_URL=https://ws.orioncode.ru
    container_name: orion_frontend_prod
    restart: always
    networks:
      - app_network

  # 6. Nginx (Единый вход)
  orion_nginx:
    image: nginx:1.26-alpine
    container_name: orion_nginx_prod
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/prod.conf:/etc/nginx/conf.d/default.conf:ro
      - ./backend:/srv/backend:ro
    depends_on:
      - orion_backend
      - orion_frontend
      - orion_websocket
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  orion_db_data:

